amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
arrow==0.10.0
billiard==3.3.0.23
boto==2.46.1
boto3==1.3.1
botocore==1.4.58
celery==3.1.25
certifi==2017.4.17
cffi==1.8.3
chardet==3.0.3
cookies==2.2.1
coreapi==2.3.1
coreschema==0.0.4
coverage==4.4.1
croniter==0.3.17
cryptography==1.7.1
dj-database-url==0.4.2
dj-email-url==0.0.10
Django==1.11.1
django-allauth==0.32.0
django-braces==1.11.0
django-celery==3.2.1
django-cors-headers==2.1.0
django-cors-middleware==1.3.1
django-coverage-plugin==1.4.2
django-debug-toolbar==1.4
django-filter==1.0.2
django-grappelli==2.7.3
django-nose==1.4.4
django-oauth-toolkit==0.12.0
django-request-provider==1.0.2
django-rest-auth==0.9.1
django-rest-framework-social-oauth2==1.0.6
django-rest-swagger==2.1.2
django-social-auth==0.7.28
django-storages==1.5.2
djangorestframework==3.11.2
djangorestframework-csv==2.0.0
djangorestframework-jwt==1.7.2
docutils==0.12
docxtpl==0.3.5
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
enum34==1.1.6
et-xmlfile==1.0.1
funcsigs==1.0.2
futures==3.0.5
gevent==1.1.1
google-api-python-client==1.5.0
greenlet==0.4.10
gunicorn==19.7.1
hidash==0.2.28
httplib2==0.10.3
httpretty==0.8.10
idna==2.5
ipaddress==1.0.17
itypes==1.1.0
jdcal==1.2
Jinja2==2.9.6
jinjasql==0.1.6
jmespath==0.9.0
jsonfield==1.0.3
kombu==3.0.37
Logentries==0.17
lxml==3.7.3
Markdown==2.6.5
MarkupSafe==1.0
mock==1.3.0
moto==0.4.31
newrelic==2.86.2.68
nose==1.3.7
oauth2==1.9.0.post1
oauth2client==2.2.0
oauthlib==2.0.1
openapi-codec==1.3.1
packaging==16.8
passlib==1.7.1
pbr==1.10.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyJWT==1.4.0
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.0
python-docx==0.8.6
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2017.2
PyYAML==3.11
requests==2.17.3
requests-oauthlib==0.8.0
rest-social-auth==1.1.0
rsa==3.4.2
simplejson==3.10.0
six==1.10.0
social-auth-app-django==0.1.0
social-auth-core==0.2.1
sqlparse==0.1.18
stripe==1.58.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.21.1
vine==1.1.3
Werkzeug==0.12.1
whitenoise==3.3.0
xlwt==1.2.0
xmltodict==0.10.2
